Button {
  width: 139px;
  height: 46px;
  margin: 5px;
  background: #00474b;
  font-family: monospace;
  font-weight: 700;
  font-size: 21px;
  border-radius: 4px;
  border: none;
  color: white;
}

Button:hover {
  background-color: #2cc2ad;
  color: black;
}
