.PersonalAmount {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.PersonalAmountPrice {
  color: #2cc2ad;
  font-family: monospace;
  font-size: 30px;
}
