.Tips {
  background-color: skyblue;
  display: flex;
  justify-content: center;
}

.Tips-container {
  background-color: navy;
  width: 90%;
}

.Tips-content {
  font-family: monospace;
}
