* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c5e4e7;
}

.App {
  background-color: #c5e4e7;
  display: flex;
  justify-content: center;
  align-items: center;
}
